{% extends "layout.html.twig" %}

{% block title %}{{ 'howto.page_title'|trans }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col s12">
            <div class="card-panel settings">

                <div class="row">
                    <div class="tabs-container col s12">
                        <ul class="tabs" data-controller="materialize--tabs">
                            <li class="tab col s12 m6 l3"><a href="#set2">{{ 'howto.tab_menu.shortcuts'|trans }}</a></li>
                        </ul>
                    </div>

                    <div id="set2" class="col s12">
                        <p>{{ 'howto.shortcuts.page_description'|trans }}</p>

                        <h5>{{ 'howto.shortcuts.all_pages_title'|trans }}</h5>

                        <table class="bordered">
                            <thead>
                                <tr>
                                    <th>{{ 'howto.shortcuts.shortcut'|trans }}</th>
                                    <th>{{ 'howto.shortcuts.action'|trans }}</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td><code>g u</code></td>
                                    <td>{{ 'howto.shortcuts.go_unread'|trans }}</td>
                                </tr>
                                <tr>
                                    <td><code>g s</code></td>
                                    <td>{{ 'howto.shortcuts.go_starred'|trans }}</td>
                                </tr>
                                <tr>
                                    <td><code>g r</code></td>
                                    <td>{{ 'howto.shortcuts.go_archive'|trans }}</td>
                                </tr>
                                <tr>
                                    <td><code>g a</code></td>
                                    <td>{{ 'howto.shortcuts.go_all'|trans }}</td>
                                </tr>
                                <tr>
                                    <td><code>g t</code></td>
                                    <td>{{ 'howto.shortcuts.go_tags'|trans }}</td>
                                </tr>
                                <tr>
                                    <td><code>g c</code></td>
                                    <td>{{ 'howto.shortcuts.go_config'|trans }}</td>
                                </tr>
                                <tr>
                                    <td><code>g i</code></td>
                                    <td>{{ 'howto.shortcuts.go_import'|trans }}</td>
                                </tr>
                                <tr>
                                    <td><code>g d</code></td>
                                    <td>{{ 'howto.shortcuts.go_developers'|trans }}</td>
                                </tr>
                                <tr>
                                    <td><code>?</code></td>
                                    <td>{{ 'howto.shortcuts.go_howto'|trans }}</td>
                                </tr>
                                <tr>
                                    <td><code>g l</code></td>
                                    <td>{{ 'howto.shortcuts.go_logout'|trans }}</td>
                                </tr>
                                <tr>
                                    <td><code>g n</code></td>
                                    <td>{{ 'howto.shortcuts.add_link'|trans }}</td>
                                </tr>
                                <tr>
                                    <td><code>esc</code></td>
                                    <td>{{ 'howto.shortcuts.hide_form'|trans }}</td>
                                </tr>
                                <tr>
                                    <td><code>← →</code></td>
                                    <td>{{ 'howto.shortcuts.arrows_navigation'|trans }}</td>
                                </tr>
                                <tr>
                                    <td><code>enter</code></td>
                                    <td>{{ 'howto.shortcuts.open_article'|trans }}</td>
                                </tr>
                            </tbody>
                        </table>

                        <h5>{{ 'howto.shortcuts.list_title'|trans }}</h5>

                        <table class="bordered">
                            <thead>
                            <tr>
                                <th>{{ 'howto.shortcuts.shortcut'|trans }}</th>
                                <th>{{ 'howto.shortcuts.action'|trans }}</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td><code>s</code></td>
                                <td>{{ 'howto.shortcuts.search'|trans }}</td>
                            </tr>
                            </tbody>
                        </table>

                        <h5>{{ 'howto.shortcuts.article_title'|trans }}</h5>

                        <table class="bordered">
                            <thead>
                            <tr>
                                <th>{{ 'howto.shortcuts.shortcut'|trans }}</th>
                                <th>{{ 'howto.shortcuts.action'|trans }}</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td><code>o</code></td>
                                <td>{{ 'howto.shortcuts.open_original'|trans }}</td>
                            </tr>
                            <tr>
                                <td><code>f</code></td>
                                <td>{{ 'howto.shortcuts.toggle_favorite'|trans }}</td>
                            </tr>
                            <tr>
                                <td><code>a</code></td>
                                <td>{{ 'howto.shortcuts.toggle_archive'|trans }}</td>
                            </tr>
                            <tr>
                                <td><code>del</code></td>
                                <td>{{ 'howto.shortcuts.delete'|trans }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

            </div>
        </div>
    </div>
{% endblock %}
